* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-width: fit-content;
    background-color: #DDD;
    margin: auto;
    padding: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

#title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#title > #description {
    width: 20px;
    font-weight: bold;
    cursor: pointer;
}

select {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    justify-self: end;
}

.bar:hover {
    fill: red;
    cursor: pointer;
}

.text {
    font-size: 8px;
    font-weight: bold;
}

#source {
    justify-self: start;
}

#tooltip {
    background-color: #111;
}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table */
table {
    margin: auto;
    width: 1200px;
    border-collapse: collapse;
    border: 3px solid #333;
    background-color: #EEE;
}

th,
td {
    padding: 10px;
    border: #999 1px dashed ;
    font-size: 12px;
}

.table-container::before {
    content: "1";
}