* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-width: fit-content;
    background-color: #DDD;
    margin: auto;
    padding: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

select {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    justify-self: end;
}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table */
table {
    margin: auto;
    width: 1200px;
    border-collapse: collapse;
    border: 3px solid #333;
    background-color: #EEE;
}

th,
td {
    padding: 10px;
    border: #999 1px dashed ;
    font-size: 12px;
}